*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary: #1E1E30;
  --main: #161625;
}


body{
  background-color: var(--main);
}

.icon{
  position: fixed;
  width: 100px;
  height: 50px;
  z-index: 999999;
}
.icon img{
  width: 100%;
  height: 100%;
}

.mainNav{
  position: fixed;
  top: 50px;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: var(--primary);
  z-index: 99999;
}
.mainNav ul{
  width: 100%;
  height: 60%;
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainNav ul li{
  padding: 60px 0 0 0;
}
.navlinks{
  text-decoration: none;
  color: #f7f7fe;
  font-size:22px;
}
.active_Class{
  color: #0178F8;
}

.container{
  width: 90%;
  margin: 0 auto;
}
.search{
  width: 100%;
  height: 150px;
}
.search p{
  text-align: center;
  color: rgba(246,246,246,0.4);
  font-size: 0.88rem;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-search{
  position: relative;
  margin: 20px auto;
  width: 40%;
}
.input-search .search_icon{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(246,246,246,0.4);
}
.input-search input{
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 5px;
  outline: none;
  background-color: #1E1E30;
  color: #f7f7fe;
  padding: 20px 40px;
  border: none;
}
.cases{
  width: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-44%);
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 4rem;
}
.cases .totalCases,.cases .activeCases,.cases .Recovered,.cases .Decesed{
  width:170px;
  margin-top: 30px;
  padding-top: 15px;
  height: 250px;
  border-radius: 5px;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  text-align: center;
  user-select: none;
}
.totalCases{
  background: #501d3c;
  color: rgb(255, 128, 128);
  
}
.activeCases{
  color: #00fef1;
  background: #414c68;
}
.Recovered{
  color: #15ff00;
  background: #294430;
}
.Decesed{
  color: #f7f7fe;
  background: #262735;
}
.totalCases:hover{
  opacity: 1;
}
.activeCases:hover{
  opacity: 1;
}
.Recovered:hover{
  opacity: 1;
}
.Decesed:hover{
  opacity: 1;
}

.data{
  width: 100%;
  height: 80%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container-state-show{
  width: 80%;
  margin: 0px auto;
  color: #ffffff;
  height: 80px;
}
.cards{
  width: 100%;
  transform: translateY(100px);
}
.container-state-show-head{
  width: 80%;
  margin: 0px auto;
  color: #ffffff;
  height: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(137, 150, 138);
  z-index: 9999;
  border-radius: 5px;
}
.columns{
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  font-weight: bold;
}
.columns div:nth-child(1){
  width: 14%;
  background: rgb(85, 78, 78);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns div:nth-child(2){
  width: 14%;
  background: rgb(85, 78, 78);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns div:nth-child(3){
  width: 14%;
  background: rgb(85, 78, 78);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.columns div:nth-child(4){
  width: 14%;
  background: rgb(85, 78, 78);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns div:nth-child(5){
  width: 14%;
  background: rgb(85, 78, 78);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns div:nth-child(1):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns div:nth-child(2):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns div:nth-child(3):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns div:nth-child(4):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns div:nth-child(5):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}

.columns-state{
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  font-weight: bold;
  overflow: hidden;
}

.columns-state div:nth-child(1){
  width: 14%;
  color: #f7f7fe;
  background: rgb(197, 99, 99);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns-state div:nth-child(2){
  width: 14%;
  background: rgb(97, 194, 197);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns-state div:nth-child(3){
  width: 14%;
  background: rgb(217, 143, 226);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.columns-state div:nth-child(4){
  width: 14%;
  background: rgb(123, 190, 96);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns-state div:nth-child(5){
  width: 14%;
  background: rgb(97, 134, 165);
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.columns-state div:nth-child(1):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns-state div:nth-child(2):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns-state div:nth-child(3):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns-state div:nth-child(4):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.columns-state div:nth-child(5):hover{
  background: rgb(223, 198, 198);
  color: #1E1E30;
}
.container-loader{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #1E1E30;
}
.loader{
  width: 200px;
  user-select: none;

}
